.nav-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:transparent ;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.logo{
    font-size: 32px;
    color:#fff;
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    font-size: 18px;
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
}
.navbar a::before{
    content: " ";
    height: 2px;
    width: 0;
    position:absolute;
    background-color:#fff;
    top:100% ;
    transition: all 0.2s; 
}
.navbar a:hover::before{
    width: 100%;
}
.navbar a{
    color:white;
    transition: .5s;
}
.navbar a:hover{
    color:red;
}
